
/*import roboto font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800,900);

input {
    font-size: 110%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Roboto", sans-serif;
    animation: button-toggler 20s infinite;
}

h1, #file_name{
    animation: theme-toggler 20s infinite;
}

#output {
    padding: 3%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    animation: theme-toggler 20s infinite;
}

#container {
    height: 50%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: theme-toggler 20s infinite;

}

#sub-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: white;
}

#label {
    /* make it look like a button */
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: button-toggler 20s infinite;
}

button {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 47%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2vh;
    padding: 10%;
    cursor: not-allowed;
    animation: button-toggler 20s infinite;

}

html,
body {
    height: 100%;
    background-color: #303030;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    position: relative;
    animation: theme-toggler-body 20s infinite;
}

@keyframes theme-toggler-body{
    0% {
        background-color: #F7CD5D;
    }

    25%{
        background-color: skyblue;

    }

    50% {
        background-color: #FA5F55;
    }

    60%{
        background-color: #303030;
    }
    85%{
        background-color: #303030;
    }
    90%{
        background-color: #648cc0;
    }

    100% {
        background-color: #F7CD5D;
    }
}

@keyframes theme-toggler{
     0% {
        background-color: #5d87f7;
        color: white;
    }

    25%{
        background-color: white;
        color: black;
    }

    40%{
        color: white;
    }
    50% {
        background-color: #55f0fa;
        color: white;
    }

    60%{
        background-color: #424242;
    }
    85%{
        background-color: #424242;
        color: white;
    }
    90%{
        background-color: #b3a271;
        color: white;
    }
    
    100% {
        background-color: #5d87f7;
        color: white;
    }
}

@keyframes button-toggler{
    0% {
        background-color: #F7CD5D;
        color: white;
    }

    25%{
        background-color: blue;
        color: white;
    }
    50% {
        background-color: #FA5F55;
        color: white;
    }

    60%{
        background-color: #68EFAD;
        color: white;
    }
    85%{
        background-color: #68EFAD;
        color: white;
    }
    90%{
        background-color: #648cc0;
        color: white;
    }
    
    100% {
        background-color: #F7CD5D;
        color: white;
    }            
}

#animation-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    left: 0px;
    top: 0px;
}

.sun {
    animation: light 20s infinite;
    height: 10%;
    width: 100%;

    position: absolute;
    z-index: 2;
}

.moon {
    animation: dark 20s infinite;
    height: 10%;
    width: 100%;

    position: absolute;
    z-index: 2;
}

/*slide from left to right*/
@keyframes light {
    0% {
        transform: translate(-20%, 0);
    }

    25%{
        transform: translate(40%, -459%);
    }

    50% {
        transform: translate(100%, 0);
    }

    75%{
        transform: translate(40%, 459%);
    }

    100% {
        transform: translate(-20%, 0);
    }
}

@keyframes dark {
    0% {
        transform: translate(100%, 0);
        color:silver;
    }

    25%{
        transform: translate(40%, 459%);
        color: white;

    }

    50% {
        transform: translate(-20%, 0);
        color: white;
    }

    75%{
        transform: translate(40%, -459%);
        color: white;
    }

    100% {
        transform: translate(100%, 0);
        color:silver;
    }
}

.core{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;

    height: 100%;
    width: 20%;
    background-color: orange;
    border-radius: 50%;
    max-width: 130px;
    max-height: 130px;
}

@keyframes sun-color {
    0% {
        background-color: orange;
    }
    25%{
        background-color: yellow;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: orange;
    }
}

.waves {
position: relative;
width: 100%;
height: 15vh;
margin-bottom: -7px;
z-index: 3;
}
/* Animation */

.parallax>use {
animation: move-forever 20s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
animation-duration: 10s;
}


@keyframes move-forever {
0% {
transform: translate3d(-90px, 0, 0);
fill: blue;
}

50% {
fill: rgb(119, 119, 233);
}
55%{
fill: white;
}

90%{
fill: white
}
95% {
fill: rgb(119, 119, 233);
}
100% {
transform: translate3d(85px, 0, 0);
fill: blue;
}
}


/*Shrinking for mobile*/
@media (max-width: 768px) {
.waves {
height: 100px;
}
}